<!doctype html>
<html>

  <head>
      <title>FoxChatter</title>
      <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap" rel="stylesheet">
  

  </head>
  <body>
    <canvas id="sparkles"></canvas>

      <h1 id="splash_title">FoxChatter</h1>
      

      <p class="menu_button background_button" id="fade_text">Press SPACE BAR to get started</p>

      <script src="/js/global.js"></script>
      <script src="/js/index.js"></script>
    

  </body>

</html>
